html{
    font-size: 20px;
}
body{
    background-color: black;
    color: white;
}
a{
    color: rgb(36, 122, 198);
}
a:visited{
    color: rgb(192, 125, 125);
}
a:hover , a:active{
    color: #eeeeee;
}